<a-asset-item id="model" src=""></a-asset-item>
<!-- <img crossorigin="anonymous" id="groundTex" src="../assets/textures/concrete.jpg"> -->
<img class="cubemap-img" crossorigin="anonymous" id="posx" src="">
<img class="cubemap-img" crossorigin="anonymous" id="posy" src="">
<img class="cubemap-img" crossorigin="anonymous" id="posz" src="">
<img class="cubemap-img" crossorigin="anonymous" id="negx" src="">
<img class="cubemap-img" crossorigin="anonymous" id="negy" src="">
<img class="cubemap-img" crossorigin="anonymous" id="negz" src="">