<a-asset-item id="model" src=""></a-asset-item>
<!-- <img crossorigin="anonymous" id="groundTex" src="../assets/textures/concrete.jpg"> -->
<img crossorigin="anonymous" id="posx" src="../assets/cubemap-static/posx.jpg">
<img crossorigin="anonymous" id="posy" src="../assets/cubemap-static/posy.jpg">
<img crossorigin="anonymous" id="posz" src="../assets/cubemap-static/posz.jpg">
<img crossorigin="anonymous" id="negx" src="../assets/cubemap-static/negx.jpg">
<img crossorigin="anonymous" id="negy" src="../assets/cubemap-static/negy.jpg">
<img crossorigin="anonymous" id="negz" src="../assets/cubemap-static/negz.jpg">