<!-- // default light -->
<!-- <a-entity position="-2 4 2" light="type: directional; color: white; intensity: 2.5"></a-entity>
<a-entity light="type: ambient; color: white; intensity: 2;"></a-entity> -->

<!-- scale: absolute -->
<!-- defaultEnvironmentFogIntensity: 0.5; 
		defaultEnvironmentFloorTexture: #groundTex; 
		defaultEnvironmentFloorColor: #FFF;
		defaultEnvironmentSkyBottomColor: #B4C4CC; 
		defaultEnvironmentSkyTopColor: #5ac8fa;
		defaultEnvironmentSkyGradientStrength: 0.5;scale: absolute; -->


<!-- coaching-overlay -->
<!-- responsive-immersive -->
<!-- gltf-model="dracoDecoderPath: https://cdn.8thwall.com/web/aframe/draco-decoder/" -->

<a-scene 
	id='ascene' 
	ar-view-initializer 
	xrextras-gesture-detector 
	xrextras-loading 
	xrextras-runtime-error
	renderer="colorManagement: true" 
	xrweb="allowedDevices: any;">

	<a-camera id="camera" position="0 5 8" raycaster="objects: .cantap" cursor="fuse: false; rayOrigin: mouse;"></a-camera>
    
	<!-- face effects -->
	<xrextras-resource id="alpha-soft-eyes" src="/assets/soft-eyes.png"></xrextras-resource>

	<a-assets id="assetContainer" timeout="10000">

		<!-- // temporary fix -->
		<!-- face effect head -->
		<a-asset-item id="head-occluder" src="/assets/head-occluder.glb"></a-asset-item>
		<!-- overlay assets-->
		<span id="alphaVideoWrapper"></span>
		<!-- sound assets -->
		<span id="soundWrapper"></span>

		<!-- FIXME -->
		<!-- <img id="groundTex" src="/assets/concrete.jpg" crossorigin="anonymous"> -->
	</a-assets>

		<!-- <a-entity xr-light light="type: directional;
			castShadow: true;
			shadowMapHeight:2048;
			shadowMapWidth:2048;
			shadowCameraTop: 20;
			shadowCameraBottom: -20;
			shadowCameraLeft: -20;
			shadowCameraRight: 20;
			target: #modelEntity;
			shadowRadius: 5" xrextras-attach="target: modelEntity; offset: 0 15 0;" shadow>
	</a-entity>

	<a-light xr-light type="ambient">
	</a-light> -->

	<!--
		xrextras-pinch-scale -->
	<!-- absolute-pinch-scale -->

	<a-entity id="modelContainer" visible="true" xrextras-one-finger-rotate xrextras-pinch-scale>
	</a-entity>

	<a-entity id="alphaVideoMeshContainer" visible="true" xrextras-pinch-scale>
		<a-entity id="alphaVideoMesh" visible="false" geometry="primitive: plane; height: 1; width: 1.78;"></a-entity>
	</a-entity>

	<a-plane id="ground" rotation="-90 0 0" height="1000" width="1000" material="shader: shadow" shadow></a-plane>
</a-scene>